body {
    margin: 0;
    font-family: "Arial", sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

.image-frame {
    border: 2px solid #ccc; /* border style */
    border-radius: 8px; /* border radius for rounded corners */
    overflow: hidden; /* hide overflow to prevent content spill */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* shadow effect */
}

.stage {
    padding: 50px;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

.app-title {
    color: #4285f4; /* Google Blue */
}

.bio {
    color: #555;
    margin-bottom: 30px;
}

.section {
    margin-top: 30px;
}

h2 {
    color: #333;
}
