.resume-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  font-family: "Arial", sans-serif;
}

header {
  text-align: center;
}

h1 {
  margin: 0;
  color: #333;
}

p {
  margin: 5px 0;
  color: #666;
}

.contact-section,
.education-section,
.experience-section,
.skills-section {
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}
